<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="4b951173-35e0-4254-995f-16d95b0dd1af" Publisher="CN=Matthias" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="4b951173-35e0-4254-995f-16d95b0dd1af" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>SimpleZIP</DisplayName>
    <PublisherDisplayName>Matthias Fussenegger</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="SimpleZIP_UI.App">
      <uap:VisualElements DisplayName="SimpleZIP" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="Create and extract archives using ZIP, GZIP, TAR, TAR+GZ, TAR+BZ2 or TAR+LZIP." BackgroundColor="transparent">
        <uap:LockScreen Notification="badge" BadgeLogo="Assets\BadgeLogo.png" />
        <uap:DefaultTile ShortName="SimpleZIP" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png" Wide310x150Logo="Assets\WideTile.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="transparent" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="portrait" />
          <uap:Rotation Preference="portraitFlipped" />
        </uap:InitialRotationPreference>
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="szip">
            <uap:Logo>Assets\simplezip_asset.png</uap:Logo>
            <uap:InfoTip>Open archive to extract</uap:InfoTip>
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="application/x-zip-compressed">.zip</uap:FileType>
              <uap:FileType ContentType="application/x-gzip-compressed">.gzip</uap:FileType>
              <uap:FileType ContentType="application/x-gzip-compressed">.gz</uap:FileType>
              <uap:FileType ContentType="application/x-bzip2-compressed">.tbzip2</uap:FileType>
              <uap:FileType ContentType="application/x-compressed">.tgz</uap:FileType>
              <uap:FileType ContentType="application/x-bzip2-compressed">.tbz2</uap:FileType>
              <uap:FileType ContentType="application/x-tar">.tar</uap:FileType>
              <uap:FileType ContentType="application/x-lzip-compressed">.tlz</uap:FileType>
              <uap:FileType ContentType="application/x-lzip-compressed">.tlzip</uap:FileType>
              <uap:FileType ContentType="application/x-lzip-compressed">.tlzma</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <uap:Capability Name="removableStorage" />
    <uap:Capability Name="videosLibrary" />
    <uap:Capability Name="picturesLibrary" />
    <uap:Capability Name="musicLibrary" />
  </Capabilities>
</Package>