<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="13323AA47phU.SimpleZIP" Publisher="CN=F076DB47-B438-4B57-85AE-EAC4B9DEAE80" Version="2.1.3.0" />
  <mp:PhoneIdentity PhoneProductId="bec28070-f77c-4607-a350-0689371dce8c" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>SimpleZIP</DisplayName>
    <PublisherDisplayName>AA47phU</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="SimpleZIP_UI.App">
      <uap:VisualElements DisplayName="SimpleZIP" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="Create and extract archives using ZIP, GZIP, TAR, TAR+GZIP, TAR+BZIP2 or TAR+LZMA." BackgroundColor="transparent">
        <uap:DefaultTile ShortName="SimpleZIP" Square71x71Logo="Assets\SmallTile.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="transparent" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="portrait" />
          <uap:Rotation Preference="portraitFlipped" />
        </uap:InitialRotationPreference>
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="szip">
            <uap:Logo>Assets\simplezip_asset.png</uap:Logo>
            <uap:InfoTip>Open archive to extract</uap:InfoTip>
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="application/x-zip-compressed">.zip</uap:FileType>
              <uap:FileType ContentType="application/x-gzip-compressed">.gzip</uap:FileType>
              <uap:FileType ContentType="application/x-gzip-compressed">.gz</uap:FileType>
              <uap:FileType ContentType="application/x-gzip-compressed">.tgz</uap:FileType>
              <uap:FileType ContentType="application/x-tar">.tar</uap:FileType>
              <uap:FileType ContentType="application/x-lzip-compressed">.tlz</uap:FileType>
              <uap:FileType ContentType="application/x-lzip-compressed">.lz</uap:FileType>
              <uap:FileType ContentType="application/x-lzip-compressed">.lzma</uap:FileType>
              <uap:FileType ContentType="application/x-bzip2-compressed">.bz2</uap:FileType>
              <uap:FileType ContentType="application/x-bzip2-compressed">.tbz2</uap:FileType>
              <uap:FileType ContentType="application/x-bzip2-compressed">.bzip2</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <uap:Capability Name="removableStorage" />
    <uap:Capability Name="videosLibrary" />
    <uap:Capability Name="picturesLibrary" />
    <uap:Capability Name="musicLibrary" />
  </Capabilities>
</Package>