<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="4b951173-35e0-4254-995f-16d95b0dd1af" Publisher="CN=Matthias" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="4b951173-35e0-4254-995f-16d95b0dd1af" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>SimpleZIP</DisplayName>
    <PublisherDisplayName>Matthias Fussenegger</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="SimpleZIP_UI.App">
      <uap:VisualElements DisplayName="SimpleZIP" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="SimpleZIP_UI" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="portrait" />
          <uap:Rotation Preference="landscape" />
          <uap:Rotation Preference="portraitFlipped" />
          <uap:Rotation Preference="landscapeFlipped" />
        </uap:InitialRotationPreference>
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.fileOpenPicker">
          <uap:FileOpenPicker>
            <uap:SupportedFileTypes>
              <uap:FileType>.zip</uap:FileType>
              <uap:FileType>.gzip</uap:FileType>
              <uap:FileType>.gz</uap:FileType>
              <uap:FileType>.bz2</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileOpenPicker>
        </uap:Extension>
        <uap:Extension Category="windows.fileSavePicker">
          <uap:FileSavePicker>
            <uap:SupportedFileTypes>
              <uap:FileType>.zip</uap:FileType>
              <uap:FileType>.gzip</uap:FileType>
              <uap:FileType>.gz</uap:FileType>
              <uap:FileType>.bz2</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileSavePicker>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <uap:Capability Name="removableStorage" />
    <uap:Capability Name="videosLibrary" />
    <uap:Capability Name="picturesLibrary" />
    <uap:Capability Name="musicLibrary" />
  </Capabilities>
</Package>